<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Index.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="sections">
            <li><a href="../Views/Index.html" class="currentLink">Motos</a></li>
            <li><a href="../Views/Admin.html">Agregar</a></li>
        </div>
        <div>
            <a href="https://github.com/Diaz-coding-01/DevMotor-s">Dev Motors</a>
        </div>
    </nav>
    <div class="cardContainer">
        <div class="pnlContainer" id="cardsGrid"></div>
    </div>
    
    <script src="../Js/Index.js"></script>
</body>

</html>